h2 {
    text-align: right;

}

h1 {
    color: black;
}

.wisher-register {
    z-index: 1;
    position: fixed;
    top: 10em;
    left: 20%;
    padding:5em 5em 5em 5em;
    height: auto;
    background:white;


}

@media only screen and (max-width: 600px) {
    .wisher {
        height: auto;

    }

    .black {
        position: relative;
    }
}

@media only screen and (max-width: 768px) {
    .formbg {
        margin-top: 20%;
    }
}
