h2 {
    text-align: right;

}

h1 {
    color: black;
}

.wisher {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    height: auto;


}

@media only screen and (max-width: 600px) {
    .wisher {
        height: auto;

    }

    .black {
        position: relative;
    }
}

@media only screen and (max-width: 768px) {
    .formbg {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 992px) {

}