.giverhomepagebg{
    top: 0;
    left: 0;
    height:100%;
    position: fixed;
    z-index: 1;
}

.hp-form{
    position:fixed;
    left:0;
    z-index:2;
    margin-left:60%;
    text-align: left;
}

input{
    margin: 1em 1em 1em 1em;
    width:18em;
}
a{
    text-decoration: underline;
    font-size:18px;
    position: fixed;
    top:2%;
    right:3%;
}
.btn{
    color:white;
    z-index:10;
    margin-right:26vw;
}
label{
    font-family: 'Beth Ellen', cursive;
}


@media screen and (max-width: 1200px) {
    .hp-form{
        margin-left: 30%;
        top:30%;
    }

}

@media screen and (max-width: 1000px) {

    input{
        width:15em;
    }
}

@media screen and (max-width: 768px) {
    .hp-form{
        margin-left: 10%;
    }

    .btn{
        margin-right:50vw;
    }

  }

@media screen and (max-width: 450px) {
    .hp-form{
        margin-left: 10%;
        top:30%;
    }
    .giverhomepagebg{
        left: -10em;
    }
    .btn{
        margin-right:35vw;
    }
}  
