.giverhomepagebg{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.hp-form{
    position:fixed;
    top:35%;
    left:0;
    z-index:2;
    margin-left:60%;
    text-align: left;
}

input{
    margin: 1em 1em 1em 1em;
    width:20vw;
}
a{
    text-decoration: underline;
    font-size:18px;
    position: fixed;
    top:2%;
    right:3%;
}
.btn{
    color:white;
    z-index:10;
}
label{
    font-family: 'Beth Ellen', cursive;
}
