.paper{
    position: absolute;
    left:0%;
    top:20%;
    width:50em;
}
.paper-text{
    position: absolute;
    left:30%;
    top:50%;
}
.ty-edit{
    position: absolute;
    top: 20%;
    left: 10%;
}

@media only screen and (max-width: 768px) {
    .paper{
        width:30em;
        top:15%;
    }
    .paper-text{
        left:10%;
    }
}