
.background-width{
    height: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed;
    }
    .giver-formbg{
        margin:8em 15vw 8em 12vw;
        padding:5em 5em 5em 5em;
        opacity: 0.95;
        background: #8C1919;
    }
    .custom-select {
        margin-left:5vw;
        width:15em;
        position: relative;
      }
      
      .custom-select select {
        display: none; /*hide original SELECT element: */
      }
      
      .select-selected {
        background-color: white;
      }
      
      /* Style the arrow inside the select element: */
      .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
      }
      
      /* Point the arrow upwards when the select box is open (active): */
      .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
      }
      
      /* style the items (options), including the selected item: */
      .select-items div,.select-selected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
      }
      
      /* Style items (options): */
      .select-items {
        position: absolute;
        background-color: #8C1919;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
      }
      
      /* Hide the items when the select box is closed: */
      .select-hide {
        display: none;
      }
      
      .select-items div:hover, .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .pretty .state label {
        position: relative;
    }
      label{
        font-family: helvetica;
        font-size: 21px;
      }
      
      .margin-left-5vw{
        margin-left:5vw;
      }
      .margin-left-10vw{
        margin-left:30vw;
        margin-top:2em;
      }
      .ProfilePopup{
        /* Rectangle */
          z-index:11;
          position: fixed;
          height: 811px;
          left: 10%;
          width:80%;
          top: 93px;
          background: #FFFFFF;
          box-shadow: 10px 8px 34px rgba(0, 0, 0, 0.25);
      }
    .cross-for-profile{

position: absolute;
right:15px;
top: 15px;
font-family: Helvetica;
font-style: normal;
font-weight: 300;
font-size: 41px;
line-height: 47px;
letter-spacing: 0.225px;

color: #000000;


    }
    .cross-for-profile:hover{
      transform: rotate(30deg);
      cursor: pointer;
    }
    .table{
      left:10%;
      width:80%;
      position:absolute;
      z-index:100;
      color:black;
      top:10%;
      padding-top:3em;
      overflow: scroll;
    }
    @media screen and (max-width: 1200px) {
      .giver-formbg{
        margin:8em 0em 8em 0em;
        padding:5em 0em 5em 1em;
    }
    .ProfilePopup{
        left: 5%;
        width:90%;
     
    }
  }
  

  @media screen and (max-width: 600px) {
    .ProfilePopup{
      left: 0%;
      width:100%;
      top: 75px;
  }
  .table{
    left:0%;
    width:100%;
  }
  
  }
  
  @media screen and (max-width: 450px) {

    .giver-formbg{
      margin:5em 0em 2em 0em;
      padding:5em 0em 5em 1em;
  }
  .margin-left-5vw{
    margin-left:0;
  }
  .custom-select {
    margin-left:0;
  }
  }  
  