.final-background{
	background-color:#8C1919;
	position:fixed;
	top:0;
	left:0;
	width:100%;
    height:100%;
    z-index: 1;
}
.seed-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    z-index: 10;
}
#s {
 bottom: 0;
 height: 100%;
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 width: 100%;
 z-index: 1;
}

.center {
	 display: block;
	 margin: 0 auto;
	 text-align: center;
     width: 100%;
     z-index: 1;
}

.dandelion {
	background: #305b14;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	height: 100%;
	margin: 0 auto;
	width: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#r {
    filter: contrast(75%) brightness(200%);
    z-index: 1;
}
.seed {
	background: hsla(60, 96%, 81%, 1);
	border-radius: 100%;
	display: block;
	filter: blur(10px) brightness(150%);
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
	z-index: 1;
 }
 .z-index{
     z-index:11;
     color:#8C1919;
     position: fixed;
     font-family: 'Beth Ellen', cursive;
     font-size:28px;
     left:40%;
     top:20em;
 }
.print{
    position: fixed;
    left: 42.36%;
    right: 43.47%;
    top:22em;
    background: #8C1919;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 28px;
    z-index:11;
    font-family: HelveticaNeue;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.308152px;
    color: #FFFFFF;
    cursor: pointer;
    padding:.5em 1em .5em 2.1em;
}
.print:hover{
    transform: scale(1.3)
}
@media screen and (max-width: 1000px) {
    .giver-print-left,.print{
        left:30%;
    }
}
@media screen and (max-width: 770px) {
    .giver-print-left,.print{
        left:10%;
        top:13em;
    }
    .z-index{
        top:20em;
        left:10%;
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .giver-print-left,.print{
        left:10%;
    }
}