
  #canvas{
    position:absolute;
    z-index:1;
    width:100%;
  }
  .logo{
   position: absolute;
    top:20%;
    width:100%;
    text-align: center;
    font-family: Beth Ellen;
    font-size: 120px;
    line-height: 266px;
    text-align: center;
    letter-spacing: 0.439286px;

    color: #EB5757;
    z-index:3;

  }

  .homebtn{
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    margin-left:30vw;
    border-radius: 50px;
    text-align: center;
    font-size: 21px;
    font-weight:bold;
    cursor: pointer;
    position: relative;
    z-index:10;
    margin-top:30em;
    padding:.8em 1.2em;
    background:white;
    text-decoration: none;
    top:32em;
  }
  .homebtn:hover{
    background:black;
    color:white;
   
  }

  .descrp-container{
    position: absolute;
    width:100%;
    height:70em;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    top:80%;
  }
  .home-lefthf{
    background:#EB5757;
    grid-column: 1/7;
    padding-top:7em;
    padding-left:5em;
    padding-right:5em;
    z-index:3;
  }
  .home-righthf{
    background:#F18989;
    grid-column: 7/13;
    padding-top:7em;
    padding-left:5em;
    padding-right:5em;
    z-index:3;
  }


  @media screen and (max-width: 768px) {
    .home-lefthf{
      grid-column: 1/13;
    }
    .home-righthf{
      grid-column: 1/13;
    }
    .logo{
      font-size: 70px;
      top:10%;
    }
    .homebtn{
      margin-left:18vw;
     padding:.5em .8em;
     font-size: 18px;
     top:20em;
    }
    .descrp-container{
      top:50%;
    }
  }

@media screen and (max-width: 450px) {
  .logo{
    font-size: 50px;
    top:1%;
  }
  .homebtn{
    top:15em;
    padding:.2em 1.2em;
    margin-left:5%;
    
  }
  .home-lefthf{
    padding-left:1em;
    padding-right:1em;
  }
  .home-righthf{
    padding-left:1em;
    padding-right:1em;
  }
  .descrp-container{
    top:35%;
  }
}  

@media screen and (max-width: 370px) {
  .homebtn{
    padding:.2em .5em;
  }
}