.formbg {
    margin: 8em auto 8em auto;
    padding: 5em;
    opacity: 0.95;
    background: white;
}

.text {
    width: 70%;
    height:10em;
    border:solid 1px black;
}

@media only screen and (max-width: 600px) {
    .formbg {
        height: 100%;
        width: auto;
        padding: 1em;
        margin-top: 8em;

    }

    .text,
    .black {
        width: 90%;
    }

    .wisherselect {
        width: auto;
        margin-right: 40%;
        top: 0;
    }


}

@media only screen and (max-width: 768px) {
    .container {
        height: 90%;
        width: 100%;
        padding: 1em;
        margin-top: 4em;

    }

    .black {
        margin-left: 5px;
        margin-bottom: 0px;
    }

}