.z-index-upup,
form {
    z-index: 10;
    position: fixed;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.black {
    margin-top: -0.2em;

}

.wisherhomebg {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: auto;


}

.next {
    margin-left: 25%;
}

@media only screen and (max-width: 768px) {

    .wisherhomebg {

        width: auto;
        height: 100%;

    }


}

@media only screen and (max-width: 600px) {

    .wisherhomebg {

        width: auto;
        height: 100%;
    }


}