.z-index-upup,
form {
    z-index: 10;
    position: fixed;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.black {
    margin-top: -1.5em;
}

.wisherhomebg {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;


}

.next {
    margin-top: 29%;
    margin-right: 35%;
}